<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Access Local DB</title>
     <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
     <div class="tab">
          <button class="tablinks" onclick="openChapter(event, 'Forecast')">Forecast</button>
          <button class="tablinks" onclick="openChapter(event, 'Employee')">Employee</button>
          <button class="tablinks" onclick="openChapter(event, 'Contracts')">Contracts</button>
     </div>

     <div id="Forecast" class="tabcontent">

          <form id="forecast-form">

               <table id="table_forecast_1" border="0">
                    <label for="fname">Enterprise ID</label>
                    <input type="text" id="username" name="firstname" placeholder="Enterprise ID..">
                    
                    <label for="finYear">Select Finanical Year</label>
                    <select id="selYear" name="financialYear">
                         <option value="all">Get all years</option>
                         <option value="2020">2020</option>
                         <option value="2021">2021</option>
                    </select>

                    <input type="button" value="Submit" onclick="search_ajax_submit()">
                    <input type="button" value="Clear" onclick="refreshTable()">
               </table>

               <div id="forecast" style="display: none">
                    <table id="forecast_table" border="3">
                    </table>
               </div>

               <div id="result_error" style="display: none"></div>
               <div id="error" style="display: none"></div>
          </form>

          <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
          <script type="text/javascript" src="js/main.js"></script>

     </div>

     <div id="Employee" class="tabcontent">

          <form id="employee-form">

               <table id="table_employee_1" border="0">
                    <label for="fname">Enterprise ID</label>
                    <input type="text" id="username_employee" name="firstname" placeholder="Enterprise ID..">
                    <!--<input type="submit" value="Button"> -->
                    <input type="button" onclick="employee_ajax_submit()" value="Get Employee Data" />
                    <input type="button" value="Clear" onclick="refreshEmployeeTable()">
               </table>

               <div id="employee_result" style="display: none">

                    <table id="employee_table" border="2">
                         <tr>
                              <th>SAPID</th>
                              <th>Contract ID</th>
                              <th>Enterprise ID</th>
                              <th>Employee Name</th>
                              <th>Level</th>
                              <th>Assigned Capacity</th>
                              <th>Roll On Date</th>
                              <th>Roll Off Date</th>
                              <th>Desk Assigned</th>
                              <th>LaptopID</th>
                              <th>LaptopSN</th>
                              <th>Primary Skill</th>
                              <th>Secondary Skill</th>
                              <th>Proficiency level P</th>
                              <th>Proficiency level S</th>
                         </tr>
                    </table>
               </div>

               <div id="employee_error" style="display: none"></div>
               <div id="error" style="display: none"></div>

          </form>

          <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
          <script type="text/javascript" src="js/main.js"></script>
     </div>

     <div id="Contracts" class="tabcontent">

          <form id="contracts-form">
               <table id="table_contracts_1" border="0">
                    <label for="fname">Enterprise ID</label>
                    <input type="text" id="username_contracts" name="firstname" placeholder="Enterprise ID..">
                    <!--<input type="submit" value="Button"> -->
                    <input type="button" onclick="contracts_ajax_submit()" value="Get Contract Data">
                    <input type="button" value="Clear" onclick="refreshContractsTable()">
               </table>

               <div id="contracts_result" style="display: none">
                    <table id="contacts_table" border="3">
                         <tr>
                              <th>Contract ID</th>
                              <th>Contract Name</th>
                              <th>CDL</th>
                              <th>Offshore MD</th>
                              <th>DUL</th>
                              <th>Project Lead</th>
                              <th>Master Client</th>
                         </tr>
                    </table>
               </div>

               <div id="result_error" style="display: none"></div>

               <div id="error" style="display: none"></div>
          </form>

          <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
          <script type="text/javascript" src="js/main.js"></script>
     </div>

     <script>

          function openChapter(evt, cityName) {

               var i, tabcontent, tablinks;
               tabcontent = document.getElementsByClassName("tabcontent");

               for (i = 0; i < tabcontent.length; i++) {

                    tabcontent[i].style.display = "none";
               }

               tablinks = document.getElementsByClassName("tablinks");

               for (i = 0; i < tablinks.length; i++) {

                    tablinks[i].className = tablinks[i].className.replace(
                         " active", "");
               }

               document.getElementById(cityName).style.display = "block";
               evt.currentTarget.className += " active";
          }
     </script>

</body>
</html>